html, body{
    margin: 0; 
    height: 100%;
    max-width: 600px;
}

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 2rem;
}

.menu li a{
    color: white;
    text-decoration: none;
} 

.menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.menu > li {
    margin: 0 1rem;
}
  
.menu-button-container {
    display: flex;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
#menu-toggle {
    display: none;
}
  
#menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

#menu-toggle:checked ~ .menu li {
    border: 1px solid black;
    height: 1rem;
    padding: 0.5rem;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: grey;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: grey;
}

.menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
}


.menu-button::before {
    content: "";
    margin-top: -8px;
}
  
.menu-button::after {
    content: "";
    margin-top: 8px;
}
  
#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}
  
#menu-toggle:checked + .menu-button-container .menu-button {
    background: grey;
}
  
#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}
 
.container1{
    display: grid;
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 70% 30%;
    height: 19rem;    
    background-color: yellow;
    max-width: 600px;
    padding-left: 1.5rem;
}

.container1-sec1{
    grid-column:1;
    display: grid;
}

.container1-sec2{
    grid-column:2;
    padding-left: 15%;
}

.container1-sec1 h2{
    grid-row:1;
    color: #FF3998;
    width: 15rem;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.1rem;
}

.container1-sec1 h1{
    grid-row: 2;
    width: 274px;
    height: 116px;
    font-size: 48px; 
    font-style: Extra-bold 800;
    margin:0;
}

.container1-sec1 p{
    grid-row: 3;
    color: #555555;
    width: 242px;
    height: 120px;
    font-size: 20px;
    line-height: 150%;
}

.container1-sec1 {
    display: grid;
}

.container1-sec2 img{
    height: 300px;
}

.container-button{
    width: 9rem;
    font-size: 18px;
    font-weight: 800;
    text-align: center;    
    color: #111111;
    /* border: 2px solid #FF8139; */
    background-color: white;
    /* border-radius: inherit; */
    padding: 1rem 2rem;
    cursor: pointer;
    border: 3px solid; 
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #dee763, #FF8139, #da542c);
    border-radius: 10rem;
}

.container2 {
    background-color: #FF3998;
    max-width: 600px;
    height: 15%;
    padding: 1.5rem;
}

.container3{
    background-image: url(assets/background.svg);
    margin: 0;
    height: 40%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    position: relative;
    text-align: left;
}

.container3-text h1{
    font-size: 40px;
    font-weight: 500;
}

.container3-text h1 span{
    font-size: 26px;
    font-weight: normal;
}

.container3-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #111111;
    width: 60%;
}

.container4{
    background-color: aquamarine;
}

.container4 ul{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.container4 ul li{
    padding: 1rem;
    list-style: none;
    text-align: rigth;
    padding-left: 2rem;
}

.container5{
    background-color: #dee763;
    padding-left: 2rem;
    margin: 0;
}

.container5 h1{
    font-size: 40px;
    font-weight: 500;
    width: 70%;
    margin: 0;
}

.container5 h2{
    color: #555555;
    width: 70%;
    height: 80px;
    font-size: 20px;
    line-height: 150%;
}

.container5 h2 a{
    color: #555555;
}

.card-row{
    display: grid;
    grid-template-columns: 75% 55%;
}

.card{
    background-color: rgb(230, 230, 230);
    border-radius: 20px;
    display: inline-block;
    margin: 1rem 1rem;
    max-width: 268px;
    min-height: 268px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.my-img{
    width: 100%;
    height: auto;
    object-fit: cover;
    padding: 0rem;
}

.card ul{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
    width: 100%;
    padding: 0.5rem;
    margin-left: 0.5rem;
    text-align: justify;
}

.card ul li{
    list-style: none;
}

.gloop{
    color: #FF8139;
    font-size: 12px;    
}

.top-bid{
    color: #777777;
    font-size: 12px;   
    text-align: right;
    padding-right: 2rem; 
}

.man-icon{
    color: #111111;
    font-size: 20px;    
    font-weight: 600;
}

.eth{
    color: #111111;
    font-size: 20px;    
    text-align: right;
    padding-right: 2rem;
}

.hashtag{
    color: #777777;
    font-size: 18px;  
    padding-top: 0.5rem;  
    padding-bottom: 0.5rem;
}

.days-left{
    color: #777777;
    font-size: 18px;    
    text-align: right;
    padding-right: 2rem;
    padding-top: 0.5rem;  
    padding-bottom: 0.5rem;
}

.container7{
    display: grid;
    grid-template-columns: 75% 50%;
    border-top: 2px solid rgb(211, 210, 210);
    border-bottom: 2px solid rgb(211, 210, 210);
    margin: 0;
    padding-left: 1rem;
}

.container7 .container1-sec1 h2{
    margin-top: 2rem;
}

.container7 .container1-sec1 h1{
    width: 80%;
    height: 90%;
    margin-bottom: 1rem;
    border-bottom: 2px solid rgb(211, 210, 210);
}

.container7 .container1-sec1 p{
    width: 70%;
    height: 90%;
    margin-top: 0;
}

.container7 .container1-sec1 button{
    width: 9rem;
    font-size: 18px;
    font-weight: 800;
    text-align: center;    
    color: #111111;
    background-color: white;
    padding: 1rem 2rem;
    cursor: pointer;
    border: 3px solid #da542c; 
    border-image-slice: 1;
    /* border-image-source: linear-gradient(to left, #dee763, #FF8139, #da542c); */
    border-radius: 10rem;
}

@media only screen and (min-width:600px){

  /* .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  } */


  }


